AdwAnimationTarget *target;
AdwSpringParams *params;
AdwAnimation *animation;

target = adw_property_animation_target_new (G_OBJECT (widget), "progress");
{{if use_damping}}
params = adw_spring_params_new_full ({{damping}}, {{mass}}, {{stiffness}});
{{else}}
params = adw_spring_params_new ({{damping_ratio}}, {{mass}}, {{stiffness}});
{{endif}}
animation = adw_spring_animation_new (widget, 0.0, 1.0, params, target);

{{if has_epsilon}}
adw_spring_animation_set_epsilon (ADW_SPRING_ANIMATION (animation), {{epsilon}});
{{endif}}
{{if has_velocity}}
adw_spring_animation_set_initial_velocity (ADW_SPRING_ANIMATION (animation), {{velocity}});
{{endif}}
